* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  background: red;
}

.container .img {
  background-image: url("https://images.unsplash.com/photo-1472214103451-9374bd1c798e?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"),
    url("https://images.unsplash.com/photo-1525609004556-c46c7d6cf023?q=80&w=752&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;

  /* Same like blend mode in video editors */
  mix-blend-mode: multiply;

  /* Blend mode for background images */
  background-blend-mode: overlay;
}
