div {
    /* border-width: 5px;
    border-style: solid;
    border-color: blue;
    border: 5px dotted teal;
    border-left: 5px solid red;
    border-right: 5px solid indianred;
    border-bottom: 5px dotted lawngreen; */

    border: 5px solid red;
    padding: 30px;
    margin: 20px;
    margin: 30px 30px;
}