:root {
  --primary-color: #3498db;
  --secondary-color: #2ecc71;
  --font-family: "Monospace", monospace;
}

h1 {
  color: var(--primary-color);
}

h2 {
  color: var(--secondary-color);
  font-family: var(--font-family);
}
