* {
  margin: 0;
  padding: 0;
}

body {
  height: 100ch;
  background: blueviolet;
}

.container {
  border: 2px solid white;
  width: 800px;
  height: 400px;
  margin: 20px auto;

  /* Flexbox container */
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* flex-wrap: wrap; */
  align-items: center;
  /* align-content: space-between; */
}

.container .child {
  width: 50px;
  height: 50px;
  background: crimson;
  text-align: center;
  margin: 5px;
}

/* Order controls the order of flex items */
.special2 {
  order: -1;
}

/* Align self controls the alignment of individual flex items */
.special3 {
  align-self: flex-end;
}

/* Flex grow gives extra space to the flex item */
.special4 {
  flex-grow: 1;
}

/* Flex basis sets the initial main size of the flex item */
.special5 {
  flex-basis: 500px;
}

/* Flex shrink controls the shrinking of the flex item */
.special6 {
  flex-shrink: 2;
}