.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Transformation */
.container > div {
  width: 300px;
  height: 300px;
  background-color: cyan;
  /* transform: translateY(200px); */
  /* transform: translateX(200px); */

  /* moves both X and Y axes */
  /* transform: translate(200px, 200px);*/

  /* Rotate */
  /* transform: rotate(20deg); */

  /* Scale */
  /* transform: scale(1.5); */
  /* Scale both X and Y */
  /* transform: scale(1, 2); */

  /* Skew */
  /* transform: skew(20deg, 10deg); */
}
