h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 36px;
    font-weight: bold;
    text-transform: capitalize;
    text-decoration: underline;
}

p {
    line-height: 30px;
    letter-spacing: 5px;
    word-spacing: 5px;
    text-align: center
}