div {
  background-color: cyan;
  height: 100px;
}

span {
  background-color: red;
}

.span1 {
  display: inline-block;
  background-color: crimson;
  height: 100px;
}

.div1 {
  display: inline;
  background-color: yellow;
  height: 100px;
}
article {
  display: none;
}
