.container {
  background: rgb(34, 34, 34);
  padding: 20px;
  height: 100vh;

  /* Grid stuff here */
  display: grid;
  /* grid-template-columns: 100px 200px 100px;
  grid-template-columns: 100px minmax(200px, 1fr) 100px;
  grid-template-rows: 100px 200px 100px; */
  /* grid-template-columns: repeat(3, 1fr); */
  /* grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); */
  /* grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); */
  /* grid-template-rows: repeat(3, 1fr); */
  /* grid-gap: 10px; */
  gap: 10px;
  /* justify-content: space-around;
  align-items: center; */

  grid-template-columns: repeat(4, 100px);
  grid-template-rows: repeat(4, 100px);
  grid-template-areas:
    "header header header header"
    "main main main main"
    "section section . aside"
    "footer footer footer footer";
}

.s {
  padding: 20px;
  background: rgb(84, 84, 84);
  text-align: center;
  color: #fff;
}

header {
  /* grid-column-start: 1;
  grid-column-end: 3; 
  grid-column: 1 / 3; */

  /* grid-row-start: 1;
  grid-row-end: 3; 
  grid-row: 1 / 3; */
  /* order: 1; */
  /* align-self: flex-end; */
  grid-area: header;
}

main {
  grid-area: main;
}

section {
  grid-area: section;
}

aside {
  grid-area: aside;
}

footer {
  grid-area: footer;
}
