body {
  background-color: #333;
  color: #fff;
  padding: 2rem;
}

.section {
  width: 42em;
  margin: 0 auto;
  background: rgb(32, 32, 1);
  padding: 4rem;
}

.section .article-title :not(.content) {
  color: #f90;
}
